# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Virtual environment
venv/
env/
ENV/
.venv/
.pip/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints

# pyenv
.python-version

# dotenv


# SQL database files
*.sqlite3

# CSV and Excel files
*.csv
*.xls
*.xlsx

# IDE specific
.vscode/
.idea/
*.iml

# Test reports
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Docker
docker-compose.yml
*.db
.env.*
